.div-center{
    margin: 0 auto;
    width: 800px;
}

.abstract{
    margin: 0;
    background-color: #CAD8FF;
    height: 200px;
}

.abstract-title{
    margin: 0 auto;
    text-align: center;
}

.img-small{
    width: 160px;
    height: 200px;
    margin: auto;
}

.center{
    margin: auto;
    width: 15%;
}